.venv/
node_modules/
package-lock.json

*.pyc
__pycache__/


build/
*.egg-info/

.env

app/static/src/model/work/dataset/
app/static/src/model/work/.neptune/
app/static/src/model/work/asl-alphabet.zip
app/static/src/model/work/kaggle/
app/static/src/model/work/dataset_csv/