<main class="w-full md:mt-4">
  <div class="text-center md:mt-4">
    <p class="mx-auto max-w-xl text-center md:p-2 mt-2">
      Bienvenue sur mon application web de détection de signes ASL via la
      webcam. Cette application interprète les signes ASL en temps réel.
      Actuellement, les lettres <u class="font-bold">J</u> et
      <u class="font-bold">Z</u> ne sont pas disponibles en raison de leur
      mouvement spécifique. Pour une détection optimale : Assurez-vous d'être
      dans un lieu bien éclairé. Gardez votre main à une distance de
      <u class="font-bold">20</u> à <u class="font-bold">40</u> cm de la webcam.
      Préférez un arrière-plan simple. Votre feedback est précieux pour
      améliorer cette application. Merci d'explorer la détection de signes ASL
      avec moi !
    </p>
    <a
      href="/predict"
      class="mt-2 inline-flex items-center justify-center px-4 py-2 bg-gray-800 text-white font-semibold text-3xl rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-700 focus:ring-offset-2"
    >
      <span class="align-middle">&#x2192;</span>
    </a>
  </div>
</main>
