<main class="w-full h-full flex justify-center items-center">
  <div class="text-center w-full h-full flex flex-col justify-center items-center">
    <p class="mx-auto max-w-5xl text-center md:p-10">
      Bienvenue sur mon application web de détection de signes ASL via la
      webcam. Cette application interprète les signes ASL en temps réel.
      Actuellement, les lettres <u class="font-bold">J</u> et
      <u class="font-bold">Z</u> ne sont pas disponibles en raison de leur
      mouvement spécifique. Pour une détection optimale : Assurez-vous d'être
      dans un lieu bien éclairé. Gardez votre main à une distance de
      <u class="font-bold">20</u> à <u class="font-bold">40</u> cm de la webcam.
      Préférez un arrière-plan simple. Votre feedback est précieux pour
      améliorer cette application. Merci d'explorer la détection de signes ASL
      avec moi !
    </p>
    <a
      href="/predict"
      class="w-14 h-14 inline-flex items-center justify-center bg-gray-800 text-white font-semibold text-3xl rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-700 focus:ring-offset-2"
    >
      <span class='h-9 w-9 flex justify-center items-start'>&#x2192;</span>
    </a>
  </div>
</main>
