<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Application de détection de signes ASL (American Sign Language)"
    />
    <title>ASL Web App</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='../static/dist/css/output.css')}}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='./images/sign.png') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body class="flex flex-col min-h-screen justify-center items-center w-full">
    <header class="bg-gray-800 text-white p-5 text-center h-20 w-full fixed top-0">
      {% include './common/header.html' %}
    </header>
    <main class="flex flex-col justify-center items-center w-full h-full overflow-y-scroll" style="height: calc(100vh - 180px);">
      {% include main_template %}
    </main>
    <footer class="bg-gray-800 text-white p-4 h-16 w-full fixed bottom-0">
      {% include './common/footer.html' %}
    </footer>
  </body>
</html>
